*{
    margin: 0;
}
.background{
    margin-top: 0;
    
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://uploads-ssl.webflow.com/62aae3a2134cd27204efacc7/62f09e75d19c8b0cfba88b17_restaurant%20management%20system.jpg');
    background-size: cover;
    overflow: hidden;
}

.background h1{
    color:whitesmoke;
}


.tablecard{
    
    margin:auto ;
    margin-top: 50px;
    height: 500px;
    width: 650px;
    background-color: black;
    opacity: 0.7;
    color: white;
    border-radius: 15px;
    box-shadow: 3px 4px 8px 3px rgba(0,0,0,0.8) ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 20px;

}

.tablecard th{
    font-size: 25px;
    padding-right: 40px;
    padding-left: 24px;
}

.tablecard td{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: antiquewhite;
}



