* {
    margin: 0;
}

body {
   background-image: url('https://b.zmtcdn.com/data/pictures/9/18467129/ad2cef7393f50aa977761cdb8fb049a5.jpg');
}


h1 {
    text-align: center;
    margin-top: 30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    text-align: center;
    height: 450px;
    width: 400px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgtREY5vpIFcIhaoxgwZAoBZHlkbDX3Q-e1w&usqp=CAU');
    
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    padding-top: 20px;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.8);

}

.container label {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin-right: 15px;
    line-height: 2;
    margin-top: 10px;
    color: white;
    text-transform: uppercase;


}

.container input {
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 170px;
    margin-bottom: 20px;
    padding-left: 0;
    font-weight: bold;
    text-align: center;
    

}

.btn {
    width: 170px !important;
    margin-top: 20px;
    height: 40px !important;
    background-color: white;
    color: #131313;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 2px 3px 6px 2px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    text-align: center !important;
    text-transform: uppercase;
}

.btn:hover {
    color: white;
    background-color: black;
    box-shadow: 2px 3px 6px 2px #fff;
}

.image{
    margin-left: 870px;
    margin-top: -600px;
}

.imagecup{
    height: 350px;
    width: 220px;
    margin-right: 830px;
    background: none;
    margin-top: -600px;
}